*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*logdir*
**__pycache**
**.mp4
**/.ftpconfig
trash

mujoco_leg/experiment_figures

# CLeg Ignores

cleg/opt/sleef
cleg/opt/stdouts
cleg/opt/torchcpp
cleg/opt/xtensor
cleg/opt/todo.txt
cleg/opt/search.sh
cleg/jup
cleg/bin/SimIF
cleg/bin/MlpIF
cleg/bin/Rollout
cleg/bin/libRollout.so
cleg/.ipynb_checkpoints**
*MUJOCO_LOG.TXT*

# Critic Nets
**agent_critic

# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

mujoco_leg/.ipynb_checkpoints/
*.csv
